.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    background-color: blanchedalmond;

    .nav__link {
        text-decoration: none;
        color:blue;
        padding: 1rem 2rem;
        font-weight: 700;
    }

    .nav__link--active {
        color: red;
        text-decoration: underline;
    }
}